<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Request Param</title>
    <!-- link tag has two href attributes? The first one in normal HTML will be used by the browser when the template is read from the file system. The second with the ‘th’ namespace is used by Thymeleaf when the template is rendered via Spring Boot. -->
    <link rel="stylesheet" href="../public/style.css" th:href="@{/style.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>

  <body>
    <h2>词法类API</h2>
   
    <form method="POST" th:action="@{/requestparam1}" >
      <input type="text" name="firstName" id="firstName"  th:value="*{firstName}"> </input>
      <input type="text" name="lastName" id="lastName"  th:value="${lastName}"> </input>
      <input type="submit"></input>
    </form>
    <!-- 
    <br/>
    <form method="POST" th:action="@{/requestparam}" th:object="${contact}">
      <input type="text" name="firstName" id="firstName"  th:value="*{firstName}"> </input>
      <input type="text" name="lastName" id="lastName"  th:value="${lastName}"> </input>
      <input type="submit">submit with th:object </input>
    </form>
     -->
  </body>
</html>